<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.shxt.supermarket.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.shxt.supermarket.core.Perspective"
            id="superMarket.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.shxt.supermarket.views.LeftViews"
            id="com.shxt.supermarket.views.LeftViews"
            name="功能窗">
      </view>
      <view
            class="com.shxt.supermarket.views.LeftViews2"
            id="com.shxt.supermarket.views.LeftViews2"
            name="功能窗">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.shxt.supermarket.editor.FirstEditor"
            id="com.shxt.supermarket.editor.FirstEditor"
            name="售货">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.SecondEditor"
            id="com.shxt.supermarket.editor.SecondEditor"
            name="进货">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.GoodsInformation"
            id="com.shxt.supermarket.editor.GoodsInformation"
            name="商品信息">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.SearchGoods"
            id="com.shxt.supermarket.editor.SearchGoods"
            name="查询商品">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.StoreInformation"
            id="com.shxt.supermarket.editor.StoreInformation"
            name="供货商信息">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.VIPInformation"
            id="com.shxt.supermarket.editor.VIPInformation"
            name="会员信息">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.EmployeeInformation"
            id="com.shxt.supermarket.editor.EmployeeInformation"
            name="员工信息管理">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.EncomeInformation"
            id="com.shxt.supermarket.editor.EncomeInformation"
            name="营业额信息">
      </editor>
      <editor
            class="com.shxt.supermarket.editor.EncomInforForManager"
            id="com.shxt.supermarket.editor.EncomInforForManager"
            name="营业额信息">
      </editor>
   </extension>

</plugin>
